.big-quote{
    // padding-left: 146px;
    position: relative;
    margin-top: 5rem;

    &:before{
        content: '';
        background: url('../img/icon-quote.svg') no-repeat;
        background-size: 100%;
        width: 64px;
        height: 64px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -5rem;
    }

    blockquote, figcaption{
        font-size: 1.5rem;
        line-height: 2.75rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: #2D2424;
        display: inline;

        @include media-breakpoint-up(md){
            font-size: 1.75rem;
            line-height: 3rem;
        }
    }
}