.features{
    margin-bottom: 122px;

    &__one{
        h3{
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            color: #73A35A;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
    }
}