// Typography
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-family: 'Poppins', sans-serif;
}

h1, .h1{
    line-height: 5.625rem;
    margin-bottom: 1.875rem;
    font-weight: 300;
    text-transform: uppercase;
}

h2, .h2{
    text-transform: uppercase;
}

h3, .h3{
    line-height: 48px;
    text-transform: uppercase;
}

h4, .h4{
    text-transform: uppercase;
    font-weight: 300;
}

h5, .h5{
    text-transform: uppercase;
}

h6, .h6{
    text-transform: uppercase;
}

.text-grey-dark{
    color: #1D1D1D;
}

.text-grey-2{
    color: #2D2424;
}

.font-size-big{
    font-size: 1.3125rem;
}

// Body
body{
    font-weight: 400;
    line-height: 30px;
}

main{
    margin-top: -146px;
}

header{
    position: relative;
    z-index: 999;
}

// Buttons
.btn{
    border-radius: 50px;
    border: none;
    font-size: 16px;

    &-primary{
        background: #73A35A;
        text-transform: uppercase;
        color: #ffffff;

        &:hover{
            background: #4f7c38;
            color: #ffffff;
        }
    }
}

// Backgrounds
.background-image-1{
    background: url('../img/background-1.png') no-repeat;
    width: 334px;
    height: 1411px;
    z-index: -1;
    left: 0;
    top: 172px;
}

.background-image-2{
    background: url('../img/background-2.png') no-repeat;
    width: 361px;
    height: 1673px;
    right: 0;
    top: -8px;
    z-index: -1;
}