.navbar{
    padding: 1.5rem 0;
    
    @include media-breakpoint-up(lg){
        padding: 2.5rem 0;
    }

    @include media-breakpoint-up(xl){
        padding: 3.5rem 0;
    }

    .navbar-brand{
        margin-left: 0;
        margin-right: 0;

        @include media-breakpoint-up(lg){
            margin-right: 4rem;
            margin-left: 1.875rem;
        }
    }

    .navbar-collapse{
        .navbar-nav{
            font-family: 'Poppins', sans-serif;
            margin-top: 1rem;

            @include media-breakpoint-up(lg){
                margin-top: .25rem;
            }

            .nav-link{
                text-transform: uppercase;
                color: #202020;
                font-size: 0.875rem;
                margin: .25rem 0;
                padding: .25rem 0;
                letter-spacing: 0.1875rem;

                @include media-breakpoint-up(lg){
                    margin: 0 1.5rem;
                    padding: 0;
                }

                @include media-breakpoint-up(xl){
                    margin: 0 2rem;
                }
            }
        }
    }
}