.testimonials{
    margin-bottom: 174px;

    figure{
        padding-left: 146px;
        position: relative;

        &:before{
            content: '';
            background: url('../img/icon-quote.svg') no-repeat;
            width: 94px;
            height: 94px;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
        }

        blockquote, figcaption{
            font-size: 32px;
            line-height: 61px;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            color: #2D2424;
            display: inline;
        }
    }
}